* { 
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container{
	width: 100vw;
	display: flex;
	justify-content: center;
}

.cards{
	margin: 2vw;
	background: #F5F5DC;
	padding: 3vh 0;
}

.cards__title{
	font-weight: bold;
	font-size: 6vh;
	text-align: center;
}

.cards__inner{
	width: 100vw;
	display: flex;
	justify-content: space-evenly;
	margin-top: 4vh;
}

.cards__items{
	width: 25vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cards__img{
	width: 100vw;
	height: 45vh;
	border-radius: 2vh;
}

.cards__name{
	margin-top: 3vh;
	margin-left: 3vw;
	font-size: 2.5vh;
	text-align: center;
	margin-bottom: 3vh;
}

.cards__items_p1{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cards__img_p1{
	width: 55vw;
	height: 55vh;
	background-size: cover;
}

.cards__name_p1{
	margin-top: 2vh;
	margin-left: 4vw;
	font-size: 2.5vh;
}

.cards__name_p2{
	margin-top: 3vh;
	font-size: 2.5vh;
}

.cards__items_p2{
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cards__img_p3{
	width: 45vw;
	height: 55vh;
}

.cards__title{
	font-weight: bold;
	font-size: 6vh;
	text-align: center;
	background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: rainbow 20s ease infinite;
	animation: rainbow 20s ease infinite;
	line-height: 1.2vh;
}

@-webkit-keyframes rainbow {
	0% { background-position: 0vw 50vh }
	50% { background-position: 100vw 50vh }
	100% { background-position: 0vw 50vh }
}
 
@keyframes rainbow {
	0% { background-position: 0vw 50vh }
	50% { background-position: 100vw 50vh }
	100% { background-position: 0vw 50vh }
}

.leftimg {
	float: left; 
	margin: 1vh 1.5vw 0 0;
}

.p_p1{
	text-indent: 2vw;
}

h2{
	text-align: center;
}

a {
	color: #69421f; 
	text-decoration: none;
	transition: color 0.3s ease; 
	text-align: center;
}

a:visited{
	color: #57371b;
	text-decoration: none;
}

a:hover {
	color: #79e911; 
	text-decoration: none; 
}

a:active{
	color: rgb(255, 0, 0);
	text-decoration: none;
}

button{
	background: hsl(28, 100%, 86%);
	margin-top: 5vh;
	border-radius: 5vh;
}

