* { 
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container{
	width: 100%;
	display: flex;
	justify-content: center;
}

.cards{
	margin: 2%;
	background: #F5F5DC;
	padding: 3% 0;
}


.cards__title{
	font-weight: bold;
	font-size: 4em;
	text-align: center;
}


.cards__inner{
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	margin-top: 4%;

}


.cards__items{
	width: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
}


.cards__img{
	width: 100%;
	border-radius: 5%;
}

.cards__name{
	margin-top: 3%;
	font-size: 1em;
	text-align: center;
}