@import url('https://fonts.googleapis.com/css2?family=Abel&family=Aboreto&family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Gravitas+One&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background: #F5F5DC;
}
.container{
	width: 100%;
	height: 20%;
	display: flex;
	justify-content: center;
}
.card{
	padding: 7%;
}
h1.cards__title{
	font-size: 3em;
	display: flex;
	justify-content: center;
	font-family: "Aboreto", system-ui;
}
.cards__items{
	display: flex;
	justify-content: space-between;
}
.cards__items_completingPK{
	display: flex;
	justify-content: center;
}
.cards__item{
	width: 32%;
	height: 40vh;
	background: #F5F5DC;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.cards__img_fix {
	height: 80vh;
	border-radius: 10px;
}
.cards__a {
	text-decoration: none;
	font-family: "Aboreto", system-ui;
}
.cards__item_completingPK{
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.cards__img1{
	width: 100%;
	height: 80%;
	border-radius: 10px;
}
.cards__name{
	margin: 5%;
	font-size: 1.2em;
}
.cards__name_completingPK{
	width: 80%;
	margin: 5%;
	font-size: 1.2em;
}
